<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% if page.mapname %}
    <title>{{ page.mapname }} - Rabi-Ribi Custom Maps</title>
    {% else %}
    <title>Rabi-Ribi Custom Maps</title>
    {% endif %}
    
{% seo title=false %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <a href="{{ '/' | absolute_url }}"><h1>{{ site.title | default: site.github.repository_name }}</h1></a>
          <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        </header>
        <hr>
        <section id="downloads" class="clearfix">
          {% if page.mapname %}
            <h1>{{ page.mapname }}</h1>
            <h3>Made by {{ page.author }}</h3>
            {% if page.download %}
              <a href="{{ page.download }}" id="download-map" class="button"><span>Download Map</span></a>
            {% endif %}
            {% if page.downloads %}
              {% for item in page.downloads %}
                <a href="{{ item.url }}" id="download-map" class="button"><span>{{ item.name }}</span></a>
              {% endfor %}
            {% endif %}
            <div style="clear:both; padding-top:10px">
              <strong><a href="https://wcko87.github.io/rabiribi-map-editing/runningcustommaps">[How to play Rabi-Ribi Custom Maps]</a></strong>
            </div>
          {% endif %}

          <!--
          {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="{{ site.github.tar_url }}" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          {% endif %}
          {% if site.github.is_project_page %}
                <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
          {% else %}
                <a href="{{ site.github.owner_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
          {% endif %}
          -->
        </section>
        
        <section id="main_content">
          {% if page.pagetype == 'mapindex' %}
              {{ section_top }}
              {% for p in site.pages %}
                  {{p.path}} <br>
                  {% if p.path contains 'maps/' and p.path contains '/index.md' %}
                    {% assign pathtokens = p.path | split: '/' %}
                    {% assign mapdir = pathtokens[1] %}

<h2 id="{{ mapdir }}"><a href="maps/{{ mapdir }}/">{{ p.mapname }}</a></h2>
<ul><li>by {{ p.author }}</li></ul>

{% if p.description %}
<p>{{ p.description }}</p>
{% endif %}
<p><img src="{{ p.image }}" alt="" /></p>

<hr />

                  {% endif %}
              {% endfor %}
              {{ section_bottom }}
          {% else %}
              {{ content }}
          {% endif %}
        </section>

        <footer>
        {% if site.github.is_project_page %}
          {{ site.title | default: site.github.repository_name }} is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        {% endif %}
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.
        </footer>

      </div>
    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
